### JetBrains Rider ###
.idea/
*.sln.iml
*.csproj.iws
*.DotSettings
*.DotSettings.user
_ReSharper.Caches/
*.generated.cs

### Visual Studio & .NET ###
bin/
obj/
.vs/
*.user
*.suo
*.cache
*.pdb
*.dll
*.exe
*.nupkg
*.msi
*.dotCover

### NuGet ###
.nuget/
packages/
artifacts/
NuGet.exe
NuGet.Config

### Логи и временные файлы ###
logs/
[Tt]emp/
*.log
*.swp

### Тестовые результаты ###
TestResults/
*.trx
*.coverage

### Файлы окружения ###
.env
*.env.local
appsettings.Development.json  # (если не нужно коммитить)